<!DOCTYPE html>
<html>
  <head>
    <title>BeltOne</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
      <a href="<%= logout_path current_user.id %>" data-method="delete">Logout</a>
      |
      <a href="<%= songs_path %>">Songs Dashboard</a>
      <% end %>

    </nav>
    <div class="errors">
      <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
      <p><%= error %></p>
      <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
